/* dw.sass
    this file was created by denny.wygant@vdenny.com
 */
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Muli|Open+Sans|Special+Elite|Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Charm|EB+Garamond|Lora|Mukta|Passion+One|Poppins|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* 
font-family: 'Source Code Pro',  monospace;

font-family: 'Charm', cursive;

font-family: 'Passion One',cursive;

font-family: 'Poppins', sans-serif;

font-family: 'Mukta',sans-serif;

font-family: 'Lora',serif;

font-family: 'EB Garamond', serif; 

font-family: 'Muli', sans-serif;

font-family: 'Ubuntu', sans-serif;

font-family: 'Special Elite',cursive;

font-family: 'Gloria Hallelujah',cursive;

font-family: 'Open Sans',sans-serif;

font-family: 'Roboto',sans-serif;

*/
/* sass vars */
/* html styles */
html {
  scroll-behavior: smooth;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.dw-table {
  display: table;
}

.dw-table-cell {
  display: table-cell;
}

.dw-table-col {
  display: table-column;
}

.pointer {
  cursor: pointer;
}

.zoom-in {
  cursor: zoom-in;
}

.dw-black {
  color: #030303 !important;
}

.dw-white {
  color: #fafafa !important;
}

.dw-green {
  color: #48ff37 !important;
}

.dw-blue {
  color: #000bac !important;
}

.dw-yellow {
  color: #b9ff00 !important;
}

.dw-pink {
  color: #ff00d4 !important;
}

.dw-red {
  color: #ff0409 !important;
}

.dw-cherry {
  color: #840007 !important;
}

.dw-banana {
  color: #c0bd25 !important;
}

.dw-bg-black {
  background-color: #030303 !important;
}

.dw-bg-white {
  background-color: #fafafa !important;
}

.dw-bg-pink {
  background-color: #ff00d4 !important;
}

.dw-bg-banana {
  background-color: #c0bd25 !important;
}

.dw-bg-cherry {
  background-color: #840007 !important;
}

.dw-bg-blue {
  background-color: #000bac !important;
}

p {
  font-family: "Mukta", sans-serif;
  padding: 0;
  font-size: 3vh;
  letter-spacing: .25rem;
}

h1 {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  font-size: 6vh;
  letter-spacing: .30rem;
}

h2 {
  font-family: 'Muli', sans-serif;
  padding: 0;
  font-size: 5.5vh;
  letter-spacing: .30rem;
}

h3 {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  font-size: 4.5vh;
  letter-spacing: .50rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  font-size: 4.0vh;
  letter-spacing: .30rem;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  font-size: 3.5vh;
  letter-spacing: .35rem;
}

h6 {
  font-family: "Poppins", sans-serif;
  padding: 0;
  font-size: 3.0vh;
  letter-spacing: .30rem;
}

.dw-theme-blue-light {
  color: #000099 !important;
  background-color: #8080ff !important;
}

.dw-theme-blue-light a:hover {
  color: #9999ff !important;
  background-color: #0000cc !important;
}

.dw-theme-blue-l1 {
  color: navy !important;
  background-color: #8080ff !important;
}

.dw-theme-blue-l1 a:hover {
  color: #9999ff !important;
  background-color: #0000cc !important;
}

.dw-theme-blue-l2 {
  color: #000066 !important;
  background-color: #b3b3ff !important;
}

.dw-theme-blue-l2 a:hover {
  color: #9999ff !important;
  background-color: #0000cc !important;
}

.dw-theme-blue-l3 {
  color: #00004d !important;
  background-color: #cdcdff !important;
}

.dw-theme-blue-l3 a:hover {
  color: #9999ff !important;
  background-color: #0000cc !important;
}

.dw-theme-blue-dark {
  color: #9999ff !important;
  background-color: #0000cc !important;
}

.dw-theme-blue-dark a:hover {
  color: white !important;
  background-color: #8080ff !important;
}

.dw-theme-blue-d1 {
  color: #b3b3ff !important;
  background-color: #0000cc !important;
}

.dw-theme-blue-d1 a:hover {
  color: white !important;
  background-color: #8080ff !important;
}

.dw-theme-blue-d2 {
  color: #ccccff !important;
  background-color: #000099 !important;
}

.dw-theme-blue-d2 a:hover {
  color: white !important;
  background-color: #8080ff !important;
}

.dw-theme-blue-d3 {
  color: #e6e6ff !important;
  background-color: navy !important;
}

.dw-theme-blue-d3 a:hover {
  color: white !important;
  background-color: #8080ff !important;
}

.dw-grid-2 {
  display: grid;
  grid: 150px/auto auto;
  grid-gap: 5px;
}

.dw-grid-3 {
  display: grid;
  grid: 150px/auto auto auto;
  grid-gap: 5px;
}

.dw-grid-4 {
  display: grid;
  grid: 150px/auto auto auto auto;
  grid-gap: 5px;
}

.dw-grid-5 {
  display: grid;
  grid: 150px/auto auto auto auto auto;
  grid-gap: 5px;
}

.dw-grid-6 {
  display: grid;
  grid: 150px/auto auto auto auto auto auto;
  grid-gap: 5px;
}

.dw-col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.dw-col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.dw-col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.dw-mix-darken-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-darken-pink img {
  mix-blend-mode: darken;
}

.dw-mix-darken-red {
  background-color: #ff0409 !important;
}

.dw-mix-darken-red img {
  mix-blend-mode: darken;
}

.dw-mix-darken-green {
  background-color: #48ff37 !important;
}

.dw-mix-darken-green img {
  mix-blend-mode: darken;
}

.dw-mix-darken-blue {
  background-color: #000bac !important;
}

.dw-mix-darken-blue img {
  mix-blend-mode: darken;
}

.dw-mix-screen-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-screen-pink img {
  mix-blend-mode: screen;
}

.dw-mix-screen-red {
  background-color: #ff0409 !important;
}

.dw-mix-screen-red img {
  mix-blend-mode: screen;
}

.dw-mix-screen-green {
  background-color: #48ff37 !important;
}

.dw-mix-screen-green img {
  mix-blend-mode: screen;
}

.dw-mix-screen-blue {
  background-color: #000bac !important;
}

.dw-mix-screen-blue img {
  mix-blend-mode: screen;
}

.dw-mix-overlay-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-overlay-pink img {
  mix-blend-mode: overlay;
}

.dw-mix-overlay-red {
  background-color: #ff0409 !important;
}

.dw-mix-overlay-red img {
  mix-blend-mode: overlay;
}

.dw-mix-overlay-green {
  background-color: #48ff37 !important;
}

.dw-mix-overlay-green img {
  mix-blend-mode: overlay;
}

.dw-mix-overlay-blue {
  background-color: #000bac !important;
}

.dw-mix-overlay-blue img {
  mix-blend-mode: overlay;
}

.dw-mix-multiply-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-multiply-pink img {
  mix-blend-mode: multiply;
}

.dw-mix-multiply-red {
  background-color: #ff0409 !important;
}

.dw-mix-multiply-red img {
  mix-blend-mode: multiply;
}

.dw-mix-multiply-green {
  background-color: #48ff37 !important;
}

.dw-mix-multiply-green img {
  mix-blend-mode: multiply;
}

.dw-mix-multiply-blue {
  background-color: #000bac !important;
}

.dw-mix-multiply-blue img {
  mix-blend-mode: multiply;
}

.dw-mix-lighten-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-lighten-pink img {
  mix-blend-mode: lighten;
}

.dw-mix-lighten-red {
  background-color: #ff0409 !important;
}

.dw-mix-lighten-red img {
  mix-blend-mode: lighten;
}

.dw-mix-lighten-green {
  background-color: #48ff37 !important;
}

.dw-mix-lighten-green img {
  mix-blend-mode: lighten;
}

.dw-mix-lighten-blue {
  background-color: #000bac !important;
}

.dw-mix-lighten-blue img {
  mix-blend-mode: lighten;
}

.dw-mix-color-dodge-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-color-dodge-pink img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-dodge-red {
  background-color: #ff0409 !important;
}

.dw-mix-color-dodge-red img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-dodge-green {
  background-color: #48ff37 !important;
}

.dw-mix-color-dodge-green img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-dodge-blue {
  background-color: #000bac !important;
}

.dw-mix-color-dodge-blue img {
  mix-blend-mode: color-dodge;
}

.dw-mix-color-burn-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-color-burn-pink img {
  mix-blend-mode: color-burn;
}

.dw-mix-color-burn-red {
  background-color: #ff0409 !important;
}

.dw-mix-color-burn-red img {
  mix-blend-mode: color-burn;
}

.dw-mix-color-burn-green {
  background-color: #48ff37 !important;
}

.dw-mix-color-burn-green img {
  mix-blend-mode: color-burn;
}

.dw-mix-color-burn-blue {
  background-color: #000bac !important;
}

.dw-mix-color-burn-blue img {
  mix-blend-mode: color-burn;
}

.dw-mix-saturation-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-saturation-pink img {
  mix-blend-mode: saturation;
}

.dw-mix-saturation-red {
  background-color: #ff0409 !important;
}

.dw-mix-saturation-red img {
  mix-blend-mode: saturation;
}

.dw-mix-saturation-green {
  background-color: #48ff37 !important;
}

.dw-mix-saturation-green img {
  mix-blend-mode: saturation;
}

.dw-mix-saturation-blue {
  background-color: #000bac !important;
}

.dw-mix-saturation-blue img {
  mix-blend-mode: saturation;
}

.dw-mix-color-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-color-pink img {
  mix-blend-mode: color;
}

.dw-mix-color-red {
  background-color: #ff0409 !important;
}

.dw-mix-color-red img {
  mix-blend-mode: color;
}

.dw-mix-color-green {
  background-color: #48ff37 !important;
}

.dw-mix-color-green img {
  mix-blend-mode: color;
}

.dw-mix-color-blue {
  background-color: #000bac !important;
}

.dw-mix-color-blue img {
  mix-blend-mode: color;
}

.dw-mix-luminosity-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-luminosity-pink img {
  mix-blend-mode: luminosity;
}

.dw-mix-luminosity-red {
  background-color: #ff0409 !important;
}

.dw-mix-luminosity-red img {
  mix-blend-mode: luminosity;
}

.dw-mix-luminosity-green {
  background-color: #48ff37 !important;
}

.dw-mix-luminosity-green img {
  mix-blend-mode: luminosity;
}

.dw-mix-luminosity-blue {
  background-color: #000bac !important;
}

.dw-mix-luminosity-blue img {
  mix-blend-mode: luminosity;
}

.dw-mix-exclusion-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-exclusion-pink img {
  mix-blend-mode: exclusion;
}

.dw-mix-exclusion-red {
  background-color: #ff0409 !important;
}

.dw-mix-exclusion-red img {
  mix-blend-mode: exclusion;
}

.dw-mix-exclusion-green {
  background-color: #48ff37 !important;
}

.dw-mix-exclusion-green img {
  mix-blend-mode: exclusion;
}

.dw-mix-exclusion-blue {
  background-color: #000bac !important;
}

.dw-mix-exclusion-blue img {
  mix-blend-mode: exclusion;
}

.dw-mix-hue-pink {
  background-color: #ff00d4 !important;
}

.dw-mix-hue-pink img {
  mix-blend-mode: hue;
}

.dw-mix-hue-red {
  background-color: #ff0409 !important;
}

.dw-mix-hue-red img {
  mix-blend-mode: hue;
}

.dw-mix-hue-green {
  background-color: #48ff37 !important;
}

.dw-mix-hue-green img {
  mix-blend-mode: hue;
}

.dw-mix-hue-blue {
  background-color: #000bac !important;
}

.dw-mix-hue-blue img {
  mix-blend-mode: hue;
}

.dw-rotate-180 {
  transform: rotate(180deg);
  transform-origin: 20% 80%;
}

.dw-rotate-90 {
  transform: rotate(90deg);
  transform-origin: 20% 80%;
}

.dw-rotate-45 {
  transform: rotate(45deg);
  transform-origin: 20% 80%;
}

.dw-rotate-40 {
  transform: rotate(40deg);
  transform-origin: 20% 80%;
}

.dw-rotate-35 {
  transform: rotate(35deg);
  transform-origin: 20% 80%;
}

.dw-rotate-30 {
  transform: rotate(30deg);
  transform-origin: 20% 80%;
}

.dw-rotate-25 {
  transform: rotate(25deg);
  transform-origin: 20% 80%;
}

.dw-rotate-20 {
  transform: rotate(20deg);
  transform-origin: 20% 80%;
}

.dw-rotate-15 {
  transform: rotate(15deg);
  transform-origin: 20% 80%;
}

.dw-rotate-10 {
  transform: rotate(10deg);
  transform-origin: 20% 80%;
}

.dw-rotate-5 {
  transform: rotate(5deg);
  transform-origin: 20% 80%;
}

.dw-rotate-3 {
  transform: rotate(3deg);
  transform-origin: 20% 80%;
}

.dw-rotate-1 {
  transform: rotate(1deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m180 {
  transform: rotate(-180deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m90 {
  transform: rotate(-90deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m45 {
  transform: rotate(-45deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m40 {
  transform: rotate(-40deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m35 {
  transform: rotate(-35deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m30 {
  transform: rotate(-30deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m25 {
  transform: rotate(-25deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m20 {
  transform: rotate(-20deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m15 {
  transform: rotate(-15deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m10 {
  transform: rotate(-10deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m5 {
  transform: rotate(-5deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m3 {
  transform: rotate(-3deg);
  transform-origin: 20% 80%;
}

.dw-rotate-m1 {
  transform: rotate(-1deg);
  transform-origin: 20% 80%;
}

.dw-border-solid-black-5 {
  border-color: #030303;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-black-1 {
  border-color: #030303;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-white-5 {
  border-color: #030303;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-white-1 {
  border-color: #030303;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-solid-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-solid-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-black-5 {
  border-color: #030303;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-black-1 {
  border-color: #030303;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dotted-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dotted-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dashed-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dashed-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dashed-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dashed-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-dashed-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-dashed-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}

.dw-border-groove-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-groove-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-groove-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-groove-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-groove-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-groove-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}

.dw-border-outset-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-outset-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-outset-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-outset-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-outset-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-outset-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}

.dw-border-inset-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-inset-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-inset-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-inset-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-inset-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-inset-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}

.dw-border-ridge-blue-5 {
  border-color: #000bac;
  border-style: solid;
  border-width: 5px;
}

.dw-border-ridge-blue-1 {
  border-color: #000bac;
  border-style: solid;
  border-width: 1px;
}

.dw-border-ridge-red-5 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 5px;
}

.dw-border-ridge-red-1 {
  border-color: #ff0409;
  border-style: solid;
  border-width: 1px;
}

.dw-border-ridge-green-5 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 5px;
}

.dw-border-ridge-green-1 {
  border-color: #48ff37;
  border-style: solid;
  border-width: 1px;
}
